
.content{
    height:925px;
    width:100%;
    position:relative;
  background:url(../images/bg1.gif) no-repeat left 900px top 20px;
    .content_l{
        position:absolute;
        top:115px;
        left:558px;
        height:330px;
        width:310px;
        text-align: center;
        img{
            margin:0 auto;
            margin-top:55px;
        }
        p{
            height:28px;
            line-height:28px;
            width:310px;
             
        }
        span{
            height:30px;
            line-height:30px;
            color:red;
            width:310px;
           
        }
    }
    .content_r{
        height:450px;
        width:400px;

        position:absolute;
        top:115px;
        right:400px;
        .dige>ul{
            display:flex;
            width:400px;
            height:88px;
            li{
                height:88px;
                width:200px;
                line-height: 88px;
                text-align: center;
                font-size:18px;
            }
        }
        h3{
            height:70px;
            line-height:70px;
            font-size:20px;
            color:red;
        }
            input[type="text"]{
                height:50px;
                width:390px;
                border:1px solid #aaa;
                font-size:18px;
                margin-bottom: 40px;
            }
            input[type="button"]{
                height:50px;
                width:195px;
                border:none;
                position:absolute;
                left:196px;top:254px;
                font-size:24px;
                color:#fff;
                &:hover{
                    background:red;
                }
            }
            input[type="submit"]{
                 height:50px;
                width:195px;
                border:1px solid #aaa;
                border:none;
                font-size:26px;
                color:#fff;
                &:hover{
                    background:red;
                }
            }
            .cp{
                border-top:1px dashed #000;
                p{
                    height:58px;
                    line-height:58px;
                    font-size:18px;
                    text-align: center;
                    width:400px;
                }
                ul{
                    display:flex;
                    justify-content: center;
                    li{
                        margin:0 6px;
                    }
                }
            }
    }
}
